header{
    height: 25px;
    display: flex;
}

.spacer{
    flex: 1 1 auto;
}

.collapse{
    display: flex;
    flex: 1;
}

.collapse .text{
    margin-left: 8px;
}

@media screen and (max-width: 500px){
    .collapse .text{
        display: none;
    }
}

:host{
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
}