<mat-toolbar class="mat-elevation-z6" style="background-color: black">  
  <mat-toolbar-row>
    <a routerLink="/">
      <img style="max-height: 36px" src="assets/sortify_logo.png">
    </a>

    <div class="collapse">
      <button color="primary" mat-button routerLink="/sorted/playlists">
          <mat-icon color="primary" aria-hidden="false">folder</mat-icon>
          <span class="text">Sorted playlists</span>
      </button>

      <button color="primary" mat-button (click)="sortPlaylists()">
          <mat-icon color="primary" aria-hidden="false">sync</mat-icon>
          <span class="text">Sync sorted</span>
      </button>
      
      <span class="spacer"></span>

      <button mat-icon-button routerLink="/me" title="profile" *ngIf="spotify.isAuthenticated()">
          <mat-icon color="warn" aria-hidden="false">record_voice_over</mat-icon>
      </button>
      <button mat-icon-button (click)="connectSpotify()" title="login" *ngIf="!spotify.isAuthenticated()">
          <mat-icon color="primary" aria-hidden="false">exit_to_app</mat-icon>
      </button>
      <button mat-icon-button (click)="disconnectSpotify()" *ngIf="spotify.isAuthenticated()">
          <mat-icon color="primary" aria-hidden="false">power_settings_new</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>