<mat-list>
    <h3 mat-subheader>Filters</h3>
    <mat-list-item *ngFor="let filter of _filters; let index = index">
        <mat-icon mat-list-icon>filter_list</mat-icon>
        <div mat-line>
            <app-date-filter 
                *ngIf="filter.type=='date'" 
                [(filter)]="_filters[index]"
            >
            </app-date-filter>
            <app-genre-filter 
                *ngIf="filter.type=='genre'"
            >
            </app-genre-filter>
            <app-beat-filter 
                *ngIf="filter.type=='beat'"
            >
            </app-beat-filter>
        </div>

        <button mat-button (click)="deleteFilter(index)">
            <mat-icon color="warn">delete</mat-icon>
        </button>
    </mat-list-item>
</mat-list>


<mat-form-field>
    <mat-label>Filter type</mat-label>
    <mat-select [(value)]="selected_filter">
        <mat-option *ngFor="let filter_type of filter_types" [value]="filter_type">
        {{filter_type}}
        </mat-option>
    </mat-select>
</mat-form-field>

<button mat-raised-button color="primary" 
    [disabled]="!selected_filter" (click)="addFilter()">
    + Add
</button>

<button (click)="onSubmit()">
    submit
</button>