<main *ngIf="tracks_queue">
    <button mat-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon color="primary" aria-hidden="false">home</mat-icon>
        <span style="margin-left: 8px">Current</span>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item 
            *ngFor="let track of tracks_queue.previous_tracks" 
            (click)="setPlayingTrack(track.id)"
        >
            {{track.name}}
        </button> 
        <button mat-menu-item color="primary">
            {{tracks_queue.current_track.name}}
        </button>
        <button mat-menu-item 
            *ngFor="let track of tracks_queue.next_tracks" 
            (click)="setPlayingTrack(track.id)"
        >
            {{track.name}}
        </button> 
    </mat-menu>
</main>