<spotify-select-device></spotify-select-device>
<spotify-player-controls></spotify-player-controls>
<spotify-current-track></spotify-current-track>
<spotify-select-playlist></spotify-select-playlist>
<spotify-tracks-queue></spotify-tracks-queue>