:host{
    display: flex;
    align-items: center;

    width: 100%;
    height: 50px;

    position: fixed;
    bottom: 0;

    color: white;
    background-color: black;
}

.player{
    flex-grow: 1;
}