:host-context{
    flex: 1;
    position: relative;
}

mat-slider{
    width: 100%;
}

.track-info{
    display: inline-block;
    position: absolute;
    left: 3em;
    right: 3em;
    font-size: 0.9em;
    text-align: center;
}

.mat-slider-horizontal{
    height: 30px;
}

.time-info{
    position: absolute;
    padding: 0 8px;
    top: 5px;
    font-size: 0.8em;
}
.left{ left: 0 }
.right{ right: 0 }
