<main *ngIf="state.track_window">
    <span class="time-info left">
        {{state.position|ms2readable}}
    </span>

    <span class="track-info">
        {{state.track_window.current_track.name}}
    </span>

    <mat-slider
        min=0
        [max]="state.duration"
        [(ngModel)]="state.position"
        (ngModelChange)="onPositionChange()"

        tickInterval="1000"
        color="primary"
    >
    </mat-slider>

    <span class="time-info right">
        {{state.duration|ms2readable}}
    </span>
</main>