<button mat-button [matMenuTriggerFor]="menu" color="primary" (click)="updateDevices()">
    <mat-icon color="primary" aria-hidden="false">devices</mat-icon>
    <span style="margin-left: 8px">Devices</span>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let device of devices" (click)="selectDevice(device.id)">
    <mat-icon aria-hidden="false" *ngIf="device.type==='Computer'">computer</mat-icon>
    {{device.name}}
  </button>
  <button mat-menu-item *ngIf="devices.length === 0">
    No devices
  </button> 
</mat-menu>