<button mat-button color="primary">
    <mat-icon aria-hidden="false" (click)="previousTrack()">skip_previous</mat-icon>
</button>
<button mat-button color="primary" (click)="togglePlayback()">
    <mat-icon aria-hidden="false" *ngIf="!state.paused">pause </mat-icon>
    <mat-icon aria-hidden="false" *ngIf="state.paused">play_arrow</mat-icon>
</button>
<button mat-button color="primary">
    <mat-icon aria-hidden="false" (click)="nextTrack()">skip_next</mat-icon>
</button>