<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Playlist -->
  <ng-container matColumnDef="playlist">
    <th mat-header-cell *matHeaderCellDef> Playlist </th>
    <td mat-cell *matCellDef="let playlist"> {{playlist.name}} </td>
  </ng-container>

  <!-- Position Nb Tracks -->
  <ng-container matColumnDef="tracks">
    <th mat-header-cell *matHeaderCellDef> Tracks </th>
    <td mat-cell *matCellDef="let playlist"> {{playlist.tracks.total}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>