Results: {{_tracks.length}}

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Playlist -->
  <ng-container matColumnDef="track">
    <th mat-header-cell *matHeaderCellDef> Track </th>
    <td mat-cell *matCellDef="let track"> {{track.name}} </td>
  </ng-container>

    <!-- Position Artists -->
    <ng-container matColumnDef="artists">
      <th mat-header-cell *matHeaderCellDef> Artists </th>
      <td mat-cell *matCellDef="let track"> 
        <i>{{track.artists.name}}</i>
      </td>
    </ng-container>

      <!-- Position Album -->
    <ng-container matColumnDef="tracks">
      <th mat-header-cell *matHeaderCellDef> Track </th>
      <td mat-cell *matCellDef="let track"> {{track.name}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>