@import '~@angular/material/theming';
@include mat-core();

/* custom sortify colors */

$cc-spotify: (
    50 : #e4faec,
    100 : #bcf3cf,
    200 : #8febb0,
    300 : #62e390,
    400 : #40dd78,
    500 : #1ed760,
    600 : #1ad358,
    700 : #16cd4e,
    800 : #12c744,
    900 : #0abe33,
    A100 : #e9ffed,
    A200 : #b6ffc3,
    A400 : #83ff9a,
    A700 : #69ff85,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* color accent */
$cc-accent: (
    50 : #f2ebf1,
    100 : #ddcedc,
    200 : #c7adc4,
    300 : #b18cac,
    400 : #a0739b,
    500 : #8f5a89,
    600 : #875281,
    700 : #7c4876,
    800 : #723f6c,
    900 : #602e59,
    A100 : #ffabf3,
    A200 : #ff78ec,
    A400 : #ff45e4,
    A700 : #ff2be1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$sortify-primary: mat-palette($cc-spotify, 500, 900, A100);
$sortify-accent:  mat-palette($mat-blue);
$sortify-warn:    mat-palette($cc-accent);
$sortify-theme: mat-light-theme($sortify-primary, $sortify-accent, $sortify-warn);

@include angular-material-theme($sortify-theme);

