
<mat-card style="background-color: #1ED760">
  <mat-card-header>
    <mat-card-title>Bienvenue sur Sortify</mat-card-title>
    <mat-card-subtitle>Le gestionnaire pour vos Playlists Spotify</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="padding: 16px">
    <p>
     Avec sortify vous pouvez
     
    </p>
    <ul>
        <li>Créer automatiquement des playlists à partir de vos titres likés</li>
        <li>Supprimer les doublons dans vos playlists existantes</li>
     </ul>
     <spotify-genre-filter></spotify-genre-filter>
  </mat-card-content>
  <mat-card-actions>
    <app-share-bar></app-share-bar>
  </mat-card-actions>
</mat-card>
