<h2>Sorted playlists</h2>


<mat-list *ngIf="playlists.length > 0">
    <h3 mat-subheader>Folders</h3>
    <mat-list-item *ngFor="let playlist of playlists" routerLink="/sorted/playlist/{{playlist.id}}">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{playlist.title}}</h4>
        <p mat-line>{{playlist.description}}</p>
    </mat-list-item>
</mat-list>


<button mat-raised-button color="primary" routerLink="/sorted/playlist/create">
    + New sorted playlist
</button>