<header>
    <mat-icon color="warn" mat-card-avatar aria-hidden="false">record_voice_over</mat-icon>
    <h2>My profile</h2>
</header>

<pre>
id:             {{user.id}}
name:           {{user.display_name}}
product:        {{user.product}}
followers:      {{user.followers.total}}
</pre>