<main>
    <button mat-button [matMenuTriggerFor]="menu" color="primary" (click)="updatePlaylists()">
        <mat-icon color="primary" aria-hidden="false">queue_music</mat-icon>
        <span style="margin-left: 8px">Playlists</span>
    </button>
    <mat-menu #menu="matMenu" style="max-height: 300px">
        <button mat-menu-item 
            *ngFor="let playlist of playlists" 
            (click)="setPlayingPlaylist(playlist.id)"
        >
            {{playlist.name}}
        </button> 
    </mat-menu>
</main>