<header>
    <mat-icon color="accent" aria-hidden="false">audiotrack</mat-icon>
    <h2>My soundtracks</h2>

    <span class="spacer"></span>

    <button mat-raised-button color="primary" (click)="playAll()">
        Play all 
        <mat-icon mat-card-avatar aria-hidden="false">play_arrow</mat-icon>
    </button>
    <button mat-raised-button color="accent">
        Like all 
        <mat-icon mat-card-avatar aria-hidden="false">favorite</mat-icon>
    </button>
</header>

<app-tracks-table [tracks]="tracks"></app-tracks-table>
