<mat-form-field>
  <input matInput [matDatepicker]="startdate" placeholder="Start date"
        [(ngModel)]="_filter.startdate" (ngModelChange)="filterChanged()">
  <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
  <mat-datepicker #startdate></mat-datepicker>
</mat-form-field>

<mat-form-field style="margin-left: 8px">
  <input matInput [matDatepicker]="enddate" placeholder="End date" 
        [(ngModel)]="_filter.enddate" (ngModelChange)="filterChanged()">
  <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
  <mat-datepicker #enddate></mat-datepicker>
</mat-form-field>