<header>
    <h2>Sorted playlist</h2>
    <button mat-raised-button style="height: 35px" color="accent" (click)="backToPlaylists()">
        Back to playlists
    </button>
</header>

<mat-form-field style="width: 100%">
    <input matInput placeholder="Playlist title" [(ngModel)]="playlist.title">
</mat-form-field>

<mat-form-field style="width: 100%">
    <input matInput placeholder="Playlist description" [(ngModel)]="playlist.description">
</mat-form-field>

<br>

<mat-checkbox [(ngModel)]="playlist.public">
    Public
</mat-checkbox>

<hr>

<app-filter [(filters)]="playlist.filters"></app-filter>

<hr>


<button *ngIf="action==='create'" mat-raised-button color="primary" (click)="createPlaylist()">
    Create playlist
</button>

<span *ngIf="action==='update'">
    <button mat-raised-button color="primary" (click)="updatePlaylist()">
        Update playlist
    </button>
    <button mat-raised-button color="warn" (click)="dropSortedPlaylist()">
        Drop playlist
    </button>
</span>
