<h2>Profile home</h2>

<main>
    <!---->
    <mat-card routerLink="/me/playlists">
    <mat-card-header>
        <mat-icon color="primary" mat-card-avatar aria-hidden="false">queue_music</mat-icon>
        <mat-card-title>Playlists</mat-card-title>
        <mat-card-subtitle>Inch'Allah</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
        </p>
    </mat-card-content>
    </mat-card>

    <!---->
    <mat-card routerLink="/me/tracks">
    <mat-card-header>
        <mat-icon color="accent" mat-card-avatar aria-hidden="false">audiotrack</mat-icon>
        <mat-card-title>Soundtracks</mat-card-title>
        <mat-card-subtitle>Mashallah</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
        </p>
    </mat-card-content>
    </mat-card>

    <!---->
    <mat-card routerLink="/me/details">
    <mat-card-header>
        <mat-icon color="warn" mat-card-avatar aria-hidden="false">record_voice_over</mat-icon>
        <mat-card-title>My profile</mat-card-title>
        <mat-card-subtitle>Starfalah</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
        </p>
    </mat-card-content>
    </mat-card>
</main>
